<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <file>logs/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/info_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level [%X{traceId}/%X{spanId}] [%thread] %logger: %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <filter class="com.zeasn.common.log.appender.LogTypeFilter">
            <types>RUNTIME</types>
        </filter>
        <destination>10.8.10.100:4560</destination>
        <keepAliveDuration>1 minutes</keepAliveDuration>
        <!-- encoder is required -->
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    
    <appender name="sqs" class="com.zeasn.common.log.appender.SqsAppender">
        <filter class="com.zeasn.common.log.appender.LogTypeFilter">
            <types>STATISTIC</types>
        </filter>
        <endPoint>sqs.ap-southeast-1.amazonaws.com</endPoint>
        <accessKey>AKIAIWJONI74IN2K535A</accessKey>
        <secretKey>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</secretKey>
        <queueName>zeasn_product_test</queueName>
    </appender>

	<root level="DEBUG">
		<appender-ref ref="infoFile" />
		<!-- <appender-ref ref="logstash" />
		<appender-ref ref="sqs" /> -->
	</root>
</configuration>